<div class="sidebar_user d-flex flex-column justify-content-start align-items-start p-3">
  <div class="w-100 d-flex justify-content-center mb-3">
    <img class="avatar-sidebar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/JenniferAnistonFeb09.jpg/220px-JenniferAnistonFeb09.jpg">
  </div>
  <br>
  <p><strong>First Name - </strong><%= current_user.first_name %></p>
  <p><strong>Last Name - </strong> <%= current_user.last_name %></p>
  <p><strong>Age - </strong><%= current_user.age %></p>
  <p><strong>Email - </strong> <%= current_user.email %></p>
  <br>
  <br>
  <% unless current_user.role == "client" %>
    <div class="w-100 d-flex align-items-center flex-column">

      <%= link_to 'See your Pedalos', user_pedalos_path , id: "btn-sidebar" %>
      <%= link_to 'Add a Pedalo', new_pedalo_path, id: "btn-sidebar" %>
      <%= link_to 'See your Reservations', user_path , id: "btn-sidebar" %>

    </div>
  <% end %>
</div>