
  <div class="d-flex">
    <div class="sidenav">
      <%= render "users/sidebar_user" %>
    </div>
      <div class='container-userpage'>
      <% if ["owner", "admin"].include? current_user.role then %>
        <h2>Pending Requests for your Pedalos</h2>
        <% if @reservations_owner_pending.count.zero? %>
          <p>You have no reservation pending</p>
        <% else %>
          <% @reservations_owner_pending.each do |reservation| %>
            <a href="<%= reservation_path(reservation) %>" class="text-reset">
              <%= render 'reservations/card_reservation', reservation: reservation %>
            </a>
          <% end %>
        <% end %>

        <h2>Reservations for your Pedalos</h2>
        <% if @reservations_owner.count.zero? %>
          <p>you have no reservation of your pedalos</p>
        <% else %>
          <% @reservations_owner.each do |reservation| %>
            <a href="<%= reservation_path(reservation) %>" class="text-reset">
              <%= render 'reservations/card_reservation', reservation: reservation %>
            </a>
          <% end %>
        <% end%>
      <% end %>

      <h2>Your Reservations</h2>
      <% if @reservations.count.zero? %>
        <p>You have no reservations</p>
      <% else %>
        <% @reservations.each do |reservation| %>
          <a href="<%= reservation_path(reservation) %>" class="text-reset">
            <%= render 'reservations/card_reservation', reservation: reservation %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>

