<div class='container-show-pedalo'>
  <img src="<%= @pedalo.image_link %>" alt="PEDALO">
  <h1><%= @pedalo.name %></h1>
  <p><%= @pedalo.description %></p>
  <p><%= @pedalo.price_per_hour / 100 %> CHF per hour</p>
  <p><%= @pedalo.owner.first_name %> <%= @pedalo.owner.last_name %></p>
</div>


