<div class='container-show-pedalo'>

  <div class='content-show'>
    <h2 id="title_show"><strong><%= @pedalo.name %></strong> (<%= @pedalo.price_per_hour.fdiv(100).round(2) %> CHF per hour)</h2>
    <% if @pedalo.photo.attached? %>
      <%= cl_image_tag @pedalo.photo.key %>
    <% end %>
    <h5 id="title_show" class="mb-3"><strong>Description</strong></h5>
    <p><%= @pedalo.description %></p>

    <hr class="mt-5 mb-4">

    <h5 id="title_show mt-5" class="mb-3"><strong>Location</strong></h5>

      <div id="map" class="map-show"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

      </div>

    <hr class="mt-5 mb-4">

    <h5 id="title_show mt-5" class="mb-3"><strong>Owner's information</strong></h5>

    <div class="owner-info">
      <p><strong>First Name: </strong><%= @pedalo.owner.first_name %></p>
      <p><strong>Last Name: </strong><%= @pedalo.owner.last_name %></p>
      <p><strong>Email Adress: </strong><%= @pedalo.owner.email%></p>
    </div>

    <hr class="mt-5 mb-4">

    <h5 id="title_show" class="mb-3"><strong>Review</strong></h5>
    <div class="d-flex flex-row flex-wrap">
    <% @pedalo.reviews.each do |review| %>
      <%= render 'reviews/card_review', review: review %>
    <% end %>
    </div>

    <hr class="mt-5 mb-4" >




  </div>
  <a class='btn-submit mt-2' href="<%= new_reservation_path(@pedalo.id) %>" >Book that pedalo!</a>

</div>

