<div class="d-flex m-3 flex-row border justify-content-between align-items-center card-reservation">
  <%= image_tag(reservation.pedalo.image_link) %>
  <div class="ml-3 p-1">
    <h3 class="text-nowrap"><%= reservation.pedalo.name %></h3>
    <h4 class="text-nowrap"><%= reservation.pedalo.location %></h4>
    <div class="d-flex flex-row .justify-content-start align-items-center">
      <p class="text-nowrap"><strong>FROM</strong>: <%= reservation.start_time.strftime("%k:%M") %></p>
      <p class="text-nowrap ml-2"><strong>TO</strong>: <%= reservation.end_time.strftime("%k:%M") %></p>
      <% duration = (reservation.end_time - reservation.start_time) %>
      <% minute = ((duration%3600)/60).to_i %>
      <% hour = (duration/3600).to_i %>
      <p class="text-nowrap ml-2"><strong>DURATION</strong>: <%= "#{hour}h" unless hour.zero? %><%= " " if minute != 0 && hour != 0 %><%= "#{minute}mn" unless minute.zero? %></p>
    </div>
    <div class="d-flex flex-row .justify-content-start align-items-center">
      <p class="text-nowrap"><strong>DATE</strong>: <%= reservation.start_time.strftime("%-d %B %Y") %></p>
      <p class="text-nowrap ml-2"><strong>PRICE</strong>: <%= "#{reservation.transaction_price.fdiv(100).round(2)}" %> CHF</p>
    </div>
  </div>
  <div class="mr-4">
  <% if reservation.accepted == "pending" %>
    <i class="far fa-clock text-primary"></i>
  <% elsif reservation.accepted == "accepted" %>
    <i class="fas fa-check text-success"></i>
  <% else %>
    <i class="fas fa-times text-danger"></i>
  <% end %>
  </div>
</div>
