<div class="d-flex p-3 m-3 flex-row border align-items-center card-reservation">
  <% if reservation.accepted == "pending" %>
    <i class="far fa-clock text-primary"></i>
  <% elsif reservation.accepted == "accepted" %>
    <i class="fas fa-check text-danger"></i>
  <% else %>
    <i class="fas fa-times text-success"></i>
  <% end %>
  <div class="ml-3 p-1">
    <h3 class="text-nowrap"><%= reservation.pedalo.name %></h3>
    <h4 class="text-nowrap"><%= reservation.pedalo.location %></h4>
    <p class="text-nowrap">from <%= "#{reservation.start_time}"%> to <%= "#{reservation.end_time}"%><p>
    <% duration = reservation.end_time - reservation.start_time %>
    <% cost = duration*reservation.pedalo.price_per_hour %> 
    <p class="text-nowrap"><%= "#{cost/100}.#{cost%100}" %> CHF/h</p>
  </div>
</div>