<div class='container-sign-forms' style="width: 650px;">

  <h2 class='header-signup'>Book <span><%= @pedalo.name %></span> for: <strong><%= @date %></strong></h2>

  <%= simple_form_for [@pedalo, @reservation] do |f| %>
    <div class="form-inputs">
    <%= f.input :start_time, :label => "Start-time" %>
    <%= f.input :end_time, :label => "End-time" %>
    <%= f.submit "Book it!", class: 'btn-submit p-2 px-3' %>
    </div>
  <% end %>
</div>
