<% if @reservation.user_id != current_user.id%>
    <div class='container-sign-forms' style="width: 800px">
      <h2><span><%= @reservation.user.first_name%> <%= @reservation.user.last_name %> </span>requests to rent your pedalo <span style="color: rgb(232, 4, 209)"><%= @pedalo.name %></span>!</h2>
      <h2>See booking details:</h2>
      <h3><span style="color: rgb(232, 4, 209)">Customer Name: </span><strong><%= @reservation.user.first_name%> <%= @reservation.user.last_name %> (<%= @reservation.user.age%> years old)</strong></h3>
      <h3><span style="color: rgb(232, 4, 209)">Customer Email: </span><strong><%= @reservation.user.email%></strong></h3>
      <h3><span style="color: rgb(232, 4, 209)">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
      <h3><span style="color: rgb(232, 4, 209)">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
      <h3><span style="color: rgb(232, 4, 209)">Total Price: </span><strong><%= @reservation.transaction_price %> CHF</strong></h3>
      <%= simple_form_for [@pedalo, @reservation] do |f| %>
      <div class="form-inputs">
      <%= f.input :accepted, :label => "Do you want to accept this request", :collection => ['accepted', 'refused', 'pending'] %>
      <%= f.submit "Confirm", class: 'btn-ok p-2 px-3' %>
      </div>
    <% end %>
  </div>
<% else %>

  <div class='container-sign-forms' style="width: 700px">
    <h2>Thank you for booking <span style="color: rgb(232, 4, 209)"><%= @pedalo.name %></span>!</h2>
    <h2>Your booking details:</h2>
    <h3><span style="color: rgb(232, 4, 209)">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
    <h3><span style="color: rgb(232, 4, 209)">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
    <h3><span style="color: rgb(232, 4, 209)">Total Price: </span><strong><%= @reservation.transaction_price %> CHF</strong></h3>
  </div>

<% end %>
