<% if @reservation.accepted == "accepted" && @reservation.user_id != current_user.id%>
  <div class='container-sign-forms' style="width: 800px">
        <h2><strong>Booking Details: </strong></h2>
        <h3><span style="#2d4b8b">Pedalo Rented: </span><strong><%= @pedalo.name%></strong></h3>
        <h3><span style="#2d4b8b">Customer Name: </span><strong><%= @reservation.user.first_name%> <%= @reservation.user.last_name %> (<%= @reservation.user.age%> years old)</strong></h3>
        <h3><span style="#2d4b8b">Customer Email: </span><strong><%= @reservation.user.email%></strong></h3>
        <h3><span style="#2d4b8b">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
        <h3><span style="#2d4b8b">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
        <h3><span style="#2d4b8b">Total Price: </span><strong><%= @reservation.transaction_price.fdiv(100).round(2) %> CHF</strong></h3>
  </div>
<% elsif @reservation.accepted == "accepted" && @reservation.user_id == current_user.id%>
  <div class='container-sign-forms' style="width: 800px">
        <h2><strong>Booking Details: </strong></h2>
        <h3><span style="#2d4b8b">Pedalo Rented: </span><strong><%= @pedalo.name%></strong></h3>
        <h3><span style="#2d4b8b">Owner Name: </span><strong><%= @reservation.pedalo.owner.first_name%> <%= @reservation.pedalo.owner.last_name %> (<%= @reservation.user.age%> years old)</strong></h3>
        <h3><span style="#2d4b8b">Owner Email: </span><strong><%= @reservation.pedalo.owner.email%></strong></h3>
        <h3><span style="#2d4b8b">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
        <h3><span style="#2d4b8b">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
        <h3><span style="#2d4b8b">Request Status: </span><strong><%= @reservation.accepted.capitalize()%></strong></h3>
        <h3><span style="#2d4b8b">Total Price: </span><strong><%= @reservation.transaction_price.fdiv(100).round(2) %> CHF</strong></h3>
  </div>
<% elsif @reservation.user_id == current_user.id%>

    <div class='container-sign-forms' style="width: 800px">
      <h2>Thanks for booking <span style="#2d4b8b"><%= @pedalo.name%></span> !</h2>
      <h2>Your booking details:</h2>
      <h3><span style="#2d4b8b">Owner Name: </span><strong><%= @reservation.pedalo.owner.first_name%> <%= @reservation.pedalo.owner.last_name %> (<%= @reservation.user.age%> years old)</strong></h3>
      <h3><span style="#2d4b8b">Owner Email: </span><strong><%= @reservation.pedalo.owner.email%></strong></h3>
      <h3><span style="#2d4b8b">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
      <h3><span style="#2d4b8b">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
      <h3><span style="#2d4b8b">Request Status: </span><strong><%= @reservation.accepted.capitalize()%></strong></h3>
      <h3><span style="#2d4b8b">Total Price: </span><strong><%= @reservation.transaction_price.fdiv(100).round(2) %> CHF</strong></h3>

    </div>
<% elsif %>


<div class='container-sign-forms' style="width: 800px">
      <h2><span><%= @reservation.user.first_name%> <%= @reservation.user.last_name %> </span>requests to rent your pedalo <span style="#2d4b8b"><%= @pedalo.name %></span>!</h2>
      <h2>See booking details:</h2>
      <h3><span style="color: #2d4b8b">Customer Name: </span><strong><%= @reservation.user.first_name%> <%= @reservation.user.last_name %> (<%= @reservation.user.age%> years old)</strong></h3>
      <h3><span style="color: #2d4b8b">Customer Email: </span><strong><%= @reservation.user.email%></strong></h3>
      <h3><span style="color: #2d4b8b">Start Time: </span><strong><%=  @reservation.start_time.strftime("%H:%M (%B %d, %Y)")%></strong></h3>
      <h3><span style="color: #2d4b8b">End Time: </span><strong><%= @reservation.end_time.strftime("%H:%M (%B %d, %Y)") %></strong></h3>
      <h3><span style="color: #2d4b8b">Total Price: </span><strong><%= @reservation.transaction_price.fdiv(100).round(2) %> CHF</strong></h3>
      <%= simple_form_for [@pedalo, @reservation], url: pedalo_reservation_path(@pedalo.id, @reservation.id), method: :patch do |f| %>
      <div class="form-inputs mt-5">
      <%= f.input :accepted, :label => "Do you want to accept this request ?", :collection => ['accepted', 'pending', 'declined'] %>
      <%= f.submit "Confirm", class: 'btn-ok p-2 px-3' %>
      </div>
      <% end %>
  </div>
<% end %>
