<!DOCTYPE html>
<html>
  <head>
    <title>Waterbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-secondary">
      <a class="navbar-brand text-primary" href="<%= pedalos_path %>">WaterBNB</a>
      <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
        <div class="navbar-nav d-flex flex-row">
          <a class="nav-link nav-item  btn-primary rounded m-1 ml-2 mr-2 pl-2 pr-2" href="<%= pedalos_path %>">Pedalos</a>
          <a class="nav-link nav-item btn-primary rounded m-1 ml-2 mr-2 pl-2 pr-2" href="/user">user</a>
          <%= link_to("Log out", destroy_user_session_path, method: :delete, class: "nav-link nav-item btn-primary rounded m-1 ml-2 mr-2 pl-2 pr-2") %>
        </div>
      <!--</div>-->
    </nav>
    <% unless notice.nil? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
    <p class="alert alert-info"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
